@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: #1d273b;
    font-weight: 300;
}

.logosuperior{
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin-top: 4px;
}

.nosolo{
    font-size: 25px;
}

.titulo0{
    text-align: center;
    font-size: 40px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.contendor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0px;

}

h1{
    font-size: 50px;
    position: relative;
    font-family: 'Fredoka One', cursive;
}

h1 span{
    position: absolute;
    right: 0;
    width: 0;
    background: #fff;
    border-left: 1px solid #000;

    animation: maquina 3s infinite alternate;
}

@keyframes maquina{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }

}



/* header */

header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}



nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo{
    height: 80px;
}

.nav .logo h2{
    height: 100%;
    vertical-align: top;
}

.enlaces-header{
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
}

.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}

.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header > img{
    width: 550px;
    animation: ease-in animat 1s;
}

@keyframes animat{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


.textos-header{
    margin: 0 0 0 30px;
}

.contenido-header p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.contenido-header a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(31,222, 130, .46);
}

.titulo{
    font-size: 50px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.nosotros{
    color: #f2f2f2;
}

.contenedor-quienessomos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.quienessomos{
    width: 90%;
    background: #fff;
    background-color: rgb(127, 255, 212, .2);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    transition: 0.5s;
}

.quienessomos:hover{
    box-shadow: 0 40px 10px rgba(17, 29, 48, .26);
}

.quienessomos > p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

/*about us*/

.about-us{
    color: #f2f2f2;
}


.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo{
    text-align: center;
    width: 20%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    transition: 0.5s;
}

.articulo:hover{
    box-shadow: 0 40px 10px rgba(17, 29, 48, .26);
}

.articulo > i{
    font-size: 30px;
    color: #fff;
    background-color: #1d273b;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(0,0, 0, .2);
}

.articulo > h3{
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}

.articulo > p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

/* questions */

.questions{
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions > img{
    width: 550px;
}

.textos-questions{
    margin: 0 0 0 10px;
}

.textos-questions p{
    text-align: justify;
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.textos-questions li{
    font-size: 15px;
}



.results{
    border-radius: 20px;
    background: #2570ff;
    padding-top: 10px;
    margin-top: 40px;
}

.conten-results{
    display: flex;
    justify-content: space-evenly;
}

.numbers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 35%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.numbers .number h4{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
    text-align: center;
}

.results-texts{
    width: 37%;
}

.results-text h4{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
}

.results-text p{
    text-align: justify;
    color: #fff;
    font-weight: 300;
    margin: 20px;
}

.results-text ul{
    color: #fff;
}

/*footer*/

footer{
    background: #f2f2f2;
    padding: 10px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partfooter{
    width: 20%;
    text-align: center;
}

.partfooter h4{
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Fredoka One', cursive;
}

.partfooter .log{
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}

.social-media i{
    font-size: 40px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    line-height: 56px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #1fde82;
    border-color: #1fde82;
}

@media screen and (max-width:1380px) {
    .partfooter{
        width: 50%;
    }
}

@media screen and (max-width:1100px){
    .conten-results{
        flex-direction: column-reverse;
    }

    .results-text{
        padding: 40px;
    }

    .results-text ul{
        padding-left: 30%;
    }

    .partfooter{
        width: 30%;
    }

    .textos-questions h1{
        font-size: 30px;
    }
}

@media screen and (max-width:1060px) {

    .logosuperior{
        padding-left: 40px;
    }

    .nav{
        padding: 0 10px;
    }

    .enlaces-header{
        position: fixed;
        background: #2193b0;  
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #6dd5ed, #2193b0); 
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.4% at 100% 0%);
    }

    .nav .menudos{
        clip-path: circle(150% at 100% 0);
    }

    .nav .enlaces-header a{
        color: white;
    }

    .hamburguer{
        display: block;
        color: #000;
    }

    .hamburguer i{
        font-size: 40px;
    }

    .contenido-header img{
        width: 400px;
    }
}

@media screen and (max-width:999px) {
    .results-text ul{
        display: none;
    }

    .results-text{
        padding: 0;
    }
}

@media screen and (max-width:925px) {
    .questions{
        height: 700px;
        flex-direction: column;
    }

    .questions img{
        width: 400px;
    }

    .partfooter{
        width: 50%;
    }

    .results-text h4{
        font-size: 30px;
    }

    .titulo{
        font-size: 35px;
    }

    .partfooter .log{
        font-size: 45px;
    }

    .textos-questions h1{
        text-align: center;
    }
}

@media screen and (max-width:900px) {
    .contenido-header img{
        width: 350px;
    }
}

@media screen and (max-width:850px) {
    .textos-header h1{
        font-size: 35px;
    }
}

@media screen and (max-width:800px) {
    .titulo0{
        font-size: 30px;
    }
}

@media screen and (max-width:780px) {
    .articulo{
        width: 40%;
    }
}

@media screen and (max-width:760px) {
    .partfooter .log{
        font-size: 40px;
    }
}

@media screen and (max-width:730px) {
    .nosolo{
        font-size: 20px;
    }
}

@media screen and (max-width:720px) {
    .contenido-header{
        flex-direction: column;
    }

    .textos-header h1{
        text-align: center;
    }

    .textos-header p{
        text-align: center;
    }

    .nosolo{
        text-align: center;
    }
}

@media screen and (max-width:690px) {
    .results-text h4{
        font-size: 25px;
    }

    .textos-questions h1{
        font-size: 25px;
    }

    .titulo{
        font-size: 25px;
    }
}

@media screen and (max-width:580px) {
    .questions{
        height: 710px;
    }
}

@media screen and (max-width:561px) {
    .partfooter .log{
        font-size: 25px;
    }

    .partfooter i{
        font-size: 25px;
        width: 40px;
        height: 40px;
        margin-top: 0px;
        line-height: 37px;
        text-align: center;
    }

    .partfooter h4{
        margin-bottom: 10px;
    }

    .questions img{
        width: 380px;
    }
}

@media screen and (max-width:450px) {
    .articulo{
        width: 70%;
        margin-bottom: 0;
    }

    .questions{
        height: 750px;
    }

    .results-text h4{
        font-size: 17px;
    }

    .numbers .number{
        width: 70%;
    }
}

@media screen and (max-width:417px) {
    .partfooter .log{
        font-size: 15px;
    }

    .partfooter h4{
        font-size: 15px;
    }

    .partfooter i{
        font-size: 15px;
        width: 30px;
        height: 30px;
        margin-top: 0px;
        line-height: 27px;
        text-align: center;
    }

    .questions img{
        width: 320px;
    }

    .titulo0{
        font-size: 20px;
    }

    .hamburguer i{
        font-size: 30px;
    }
}

@media screen and (max-width:405px) {
    .contenido-header img{
        width: 300px;
    }
}

@media screen and (max-width:400px) {
    .results-text h4{
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width:380px) {
    .textos-header h1{
        font-size: 30px;
    }

    .logosuperior{
        font-size: 30px;
        margin-top: 20px;
    }

    .questions img{
        width: 240px;
    }
}

@media screen and (max-width:350px) {
    .titulo{
        margin-left: 10%;
        margin-right: 10%;
    }

    .contenido-header img{
        width: 280px;
    }
}

@media screen and (max-width:337px) {
    .partfooter{
        width: 70%;
    }
}

@media screen and (max-width:330px) {
    .questions{
        height: 800px;
    }
}

@media screen and (max-width:320px) {
    .contenido-header img{
        width: 200px;
    }
}

@media screen and (max-width:310px) {
    .questions{
        height: 850px;
    }
}

@media screen and (max-width:300px) {
    .questions{
        height: 870px;
    }

    .textos-header h1{
        font-size: 25px;
    }

    .logosuperior{
        font-size: 20px;
        padding-left: 10px;
    }
}

@media screen and (max-width:275px) {
    .questions{
        height: 900px;
    }
}

@media screen and (max-width:255px) {
    .questions{
        height: auto;
    }

    .textos-header h1{
        font-size: 20px;
    }


    .questions img{
        width: 200px;
    }
}




























/*           <li>MAYOR ALCANCE</li>
            <li>MENOR INVERSION</li>
            <li>ENCUENTRAS NUEVOS CLIENTES</li>
            <li>ABIERTO 24/7</li>
            <li>PERMITE VENDER EN LINEA</li>
            <li>MEJORA EL SERVIVIO AL CLIENTE</li>
            <li>POSICIONAMIENTO EN BUSCADORES</li> */


            /* .textos-questions a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(31,222, 130, .46);
}*/

/*      á é  í   ó    ú       Á          É   Í        Ó     Ú   */
